PORT=3636

DB_HOST=localhost
DB_PORT=3306
DB_NAME=heritage_blockchain
DB_USER=root
DB_PASSWORD=123456
DB_SYNCHRONIZE=true
DB_LOGGING=false

#jwt
JWT_SECRET=

#bnock train
BLOCKCHAIN_RPC_URL=
BLOCKCHAIN_PRIVATE_KEY=
HERITAGE_CONTRACT_ADDRESS=
